* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
   background-color: lightblue;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;

}

/*Below is the main container of the page where the 
css grid property was introduced to add a style in
 combination with the FLEX-box property
*/
.container {
   position: relative;
   width: 100%;
   max-width: 1000px;
   min-height: 1000px;
   margin: 50px;
   background-color: #fff;
   display: grid;
   grid-template-columns: 1fr 2fr;

}

.container .left_side {
   position: relative;
   background-color: #003147;
   padding: 40px;

}
/* Basically re-structuring the profile image to fit the cover as well as setting the position for the text header*/
.cvheader {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 20px;
   border-bottom: 1px solid rgba(255,255,255,0.2);
}

.cvheader .dpimage {
   position: relative;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   overflow: hidden;
}

.cvheader .dpimage img {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
/*Giving a design to the H2 level text*/
.cvheader h2 {
   color: #fff;
   font-size: 20px;
   margin-top:15px;
   text-transform: uppercase;
   text-align: center;
   font-weight: 600;
   line-height: 1.4em;

}

.cvheader h2 span{
   font-size: 0.8em;
   font-weight: 300;
}


.container .right_side {
   position: relative;
   background-color: #fff;
   padding: 40px;
}
.contactinfo {
   padding-top: 40px;
}

.title {
   color: #fff;
   text-transform:uppercase;
   font-weight: 500;
   letter-spacing: 1px;
   margin-bottom: 20px;
}

.contactinfo ul {
   position: relative;
}

.contactinfo ul li {
   position: relative;
   list-style: none;
   margin: 10px 0px;
   cursor: pointer;
}
/* The icons design*/
.contactinfo ul li .icon {
   display: inline-block;
   width: 30px;
   font-size: 18px;
   color: #03a9f4;
   
}

   .contactinfo  ul li span {
   color: #fff;
   font-weight: 200;
}
/* we are going to do some decorations of the "education div"*/
.contactinfo.education li {
   margin-bottom: 15px;
   }

.contactinfo.education h5 {
   color: #03a9f4;
   font-weight: 500;
}

.contactinfo.education h4:nth-child(2) {
   color: #fff;
   font-weight: 500;
}

.contactinfo.education h4 {
   color: #fff;
   font-weight: 300;
}
/*Below properties is used to indicate the accuracy 
and level of fluency in each languages*/
.contactinfo.language .percent {
   position: relative;
   width: 100%;
   height: 6px;
   background: #081921;
   display: block;
   margin-top: 5px;
}
.contactinfo.language .percent div{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background: #03a9f4;
}
/*Now what follows below it the decoration of the RIGHT-SIDE of the page
*/
.about {
   margin-bottom: 50px;
}

.about:last-child {
   margin-bottom: 0;
}

.title2 {
   color: #003147;
   text-transform: uppercase;
   letter-spacing: 1px;
   margin-bottom: 10px;
}

p {
   color: #333;
}

.about .box {
   display: flex;
   flex-direction: row;
   margin: 20px 0;
}

.about .box .year-company {
   min-width: 200px;
}

.about .box .year-company h5 {
   text-transform: uppercase;
   color: #848c90;
   font-weight: 600;
}

.about .box .text h4 {
   text-transform: uppercase;
   font-size: 15px;
   margin-bottom: 6px;
   color: #03a9f4;
}

.skills .box {
   position: relative;
   width: 100%;
   display: grid;
   grid-template-columns: 200px 1fr;
   justify-content: center;
   align-items: center;
}
.skills .box h4 {
   text-transform: uppercase;
   color: #848c90;
   font-weight: 500;
}

.skills .box .percent {
   position: relative;
   width: 100%;
   height: 12px;
   background: #f0f0f0;
}

.skills .box .percent div {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background: #03a9f4;
}

.interest ul {
   display: grid;
   grid-template-columns: repeat(4,1fr);
}

.interest ul li {
   list-style: none;
   color: #333;
   font-weight: 500;
   margin: 10px 0;
}

.interest ul li .fa {
   color: #03a9f4;
   width: 20px;
   font-size: 16px;
}
/*@media query was done closely while inspecting and resizing the page on the web browser*/
@media (max-width: 1000px) {
   .container
   {
      margin: 10px;
      grid-template-columns: repeat(1,1fr);
   }
   .interest ul {
      grid-template-columns: repeat(2,1fr);
   }
}

@media (max-width: 600px) {
   .about .box {
    flex-direction: column;
   }

   .about .box .year-company {
      margin-bottom: 5px;
   }

   .interest ul {
      grid-template-columns: repeat(1,1fr);
   }

   .skills .box {
      grid-template-columns: repeat(1,1fr);
   }
}